// styles for navbar
//
.wrapper-nav{
  background-color: $blue;
  width: 100%;
}
.navbar{
  background-color: $backgroundColor;
  width: 100%;
  a.nav-link{
    color: $white;
    font-size: 1.5rem;
    &:hover{
      font-weight: bold;
      background-color: $white;
      color: $blue;
      transition: all 0.2s ease-out;
    }
  }
  .navbar-text{

    a{
      color: $white;
      font-size: 2.1rem;
      margin: auto 10px;
      &:hover{
        font-weight: bold;
        transition: all 0.4s ease-out;
      }
    }

    @include desktop {
      display: inline-block;
    }
  }
  .navbar-brand{
    color: $white;
    font-size: 1.8rem;
    font-weight:bold;
  }
   .navbar-toggler-icon{
     color: $white;
     font-size: 1.8rem;
   }

   .nav-item{
     text-align: center;
   }
}
